<!DOCTYPE html>
<html>
<head>
    <title>Погода</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Поиск погоды по городам</h1>
    <form action="weather" method="post">
        <p>
            Введите город:<br>
            <input name="location" />
        </p>
        <input type="submit" value="Отправить" />
    </form> 

    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
              "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
          }
        
        async function setCookie() {
            // Отправляем запрос на сервер для создания cookie
            const response = await fetch("/cookie");
        }

        if (getCookie("user_id")) {
            console.log('Cookies exist');
            
        }else{
            console.log('No cookies');
            setCookie();
        }
        
    </script>
</body>
</html>